#!/bin/bash

if [ -z "$VERSION" ]; then
  read -p "VERSION is not set. Please enter a version number: " VERSION
fi

FORMULA_CLASS_NAME="Urigami"
DESCRIPTION="a command-line utility for managing default applications on macOS"
HOMEPAGE="https://github.com/NoahKamara/Urigami"
URL="https://github.com/NoahKamara/Urigami/releases/download/${VERSION}/${VERSION}.tar.gz"
LICENSE="MIT"
SCRIPT_NAME="urigami"
